/**
 * Breakpoints
 * ===========
 * Only work with either
   - (min-width)
   - (min-width) and (max-width)
   Try to never use (max-width) alone since that not mobile-first
 *
 * 1. The min width of the interface. Will create a horizontal scrollbar.
      This way we have a base width to work from
 * 2. The max width of the form layout
 * 3. Separate $desktop variable is being used so all styles
 *    change together when going from small to larger screen.
 * 4. Separate $flexbox variables are being used
 * 5. Wether or not to Use flexbox in layouts
 */

$alpha: 400px !default;
$beta: 600px !default;
$charlie: 768px !default;
$delta: 1024px !default;
$minwidth: $alpha !default; // 1
$maxwidth: $delta !default; // 2
$desktop: $charlie !default; // 3
$flexbox-horizontal: 320px !default; // 4
$flexbox-vertical: 400px !default; // 4
$flexbox: true !default; // 5



/**
 * Typography
 * ==========
 */

$font-family: Arial, sans-serif !default;
$font-size: 13px !default;
$line-height: 20px !default;
$bold: 700 !default;
$regular: 400 !default;
$font-smoothing: subpixel-antialiased !default;



/**
 * Spacing
 * =======
 * can either be used as a padding or a margin on elements
 * Rounding so we won't get half pixels
 */

$spacing-tiny: round($font-size / 2) !default;
$spacing-small: round($font-size) !default;
$spacing: round($font-size * 1.5) !default;
$spacing-large: round($font-size * 2) !default;
$spacing-huge: round($font-size * 3) !default;



/**
 * Unit size
 * =========
 * Rounding so we won't get half pixels
 * Can be used for things like:
 * - min-height on table cells
 * - width and height on buttons inside fixed height rows
 * - max-height for fixed height rows
 */

$unit-size: 32px !default;



/**
 * Transition
 * ==========
 * The basic transition being used everywhere to get consistent animations
 * Remember to sync the JavaScript animation time with this setting
 */

$transition-duration: 180ms !default;
$transition-easing: cubic-bezier(.2,.57,.44,.83) !default;
$transition: $transition-duration $transition-easing !default;



/**
 * Type colors
 * ===========
 */

$color-type: #222222 !default;
$color-type-dark: #111111 !default;
$color-type-light: #555555 !default;



/**
 * Primary color
 * =============
 */

$color-primary: #34495e !default;
$color-primary-lightest: lighten($color-primary, 10%) !default;
$color-primary-light: lighten($color-primary, 5%) !default;
$color-primary-dark: darken($color-primary, 5%) !default;
$color-primary-darkest: darken($color-primary, 10%) !default;
$color-primary-type: #ecf0f1 !default;



/**
 * Secondary color
 * ===============
 */

$color-secondary: #3498db !default;
$color-secondary-lightest: lighten($color-secondary, 10%) !default;
$color-secondary-light: lighten($color-secondary, 5%) !default;
$color-secondary-dark: darken($color-secondary, 7%) !default;
$color-secondary-darkest: darken($color-secondary, 14%) !default;
$color-secondary-type: white !default;



/**
 * Tertiary color
 * ==============
 */

$color-tertiary: #3498db !default;
$color-tertiary-lightest: lighten($color-secondary, 10%) !default;
$color-tertiary-light: lighten($color-secondary, 5%) !default;
$color-tertiary-dark: darken($color-secondary, 7%) !default;
$color-tertiary-darkest: darken($color-secondary, 14%) !default;
$color-tertiary-type: white !default;



/**
 * Accent color
 * ============
 */

$color-accent: $color-secondary !default;
$color-accent-type: $color-primary !default;
$color-accent-light: lighten($color-accent, 15%) !default;
$color-accent-dark: darken($color-accent, 15%) !default;
$color-accent-primary: $color-secondary !default;
$color-accent-secondary: $color-accent !default;



/**
 * States
 * ======
 */

$color-success: #27ae60 !default;
$color-success-type: white !default;



/* Border
 * ======
 * Set border-color to false if you don't want any borders in your theme
 * You can override borders in each separate module
 **/

$border-color: false !default;
$border-width: 1px !default;
$border-style: solid !default;



/**
 * Koowa
 * =====
 * The default koowa container
 */

$koowa-background: white !default;
$koowa-padding: 0 !default;



/**
 * Sidebar
 * =======
 * 1. The width when sidebar is collapsed
 * 2. Sidebar width on smaller screens
 * 3. Sidebar width when screen is "$desktop"
 */

$sidebar-width-collapsed: 66px !default; // 1
$sidebar-width-small: 180px !default; // 2
$sidebar-width: 270px !default; // 3
$sidebar-width-large: 360px !default; // 3

$sidebar-background: $color-primary !default;
$sidebar-border: $border-color !default;
$sidebar-color: $color-primary-type !default;



/**
 * Toggle button
 * =============
 * The toggle button to toggle the sidebar
 */

$toggle-button-width: $unit-size !default;
$toggle-button-height: $unit-size !default;
$toggle-button-border: $border-color !default;



/**
 * Breadcrumbs
 * ===========
 * 1. The content of the divider
 * 2. The width of dividers between breadcrumb items
 * 3. Height of each breadcrumb item
 * 4. On mobile we don't show all breadcrumb items
 * 5. The width when showing all breadcrumbs instead of only first and last
 */
$breadcrumb-divider-content: "»" !default; // 1
$breadcrumb-divider-size: $spacing !default; // 2
$breadcrumb-size: $unit-size !default; // 3
$breadcrumb-missing-content: "…" !default; // 4
$breadcrumb-query: $charlie !default; // 5



/**
 * Table
 * =====
 * 1. Height of the table headings
 * 2. Color of the table headings
 */

$table-header-size: $unit-size !default; // 1
$table-header-background: #eee !default; // 2
$table-header-background-dark: darken($table-header-background, 25%) !default;
$table-header-border: darken($table-header-background, 5%) !default;
$table-border: #EFEFEF !default;
$table-pagination-background: #eee !default; // 2
$table-pagination-border: darken($table-pagination-background, 5%) !default;



/**
 * Overview layout
 * ===========
 * The default overview layout
 */

$overview-background: white !default;
$overview-border: $border-color !default;



/**
 * Scopebar
 * ========
 * 1. Height of the scopebar
 */

$scopebar-size: $unit-size !default; // 1
$scopebar-search-background: white !default;
$scopebar-search-color: $color-type !default;

$scopebar-background: $color-secondary-dark !default;
$scopebar-border: $border-color !default;
$scopebar-color: $color-secondary-type !default;
$scopebar-color: $color-secondary-type !default;



/**
 * Default list
 * ============
 */

$list-background: $sidebar-background !default;
$list-color: $sidebar-color !default;

$list-hover-background: $color-primary-light !default;
$list-hover-border: $color-primary-lightest !default;
$list-hover-color: $color-primary-type !default;

$list-active-background: $list-background !default;
$list-active-border: $color-accent-primary !default;
$list-active-color: $color-accent-primary !default;



/**
 * Default navigation
 * ==================
 */

$navigation-background: $color-primary-dark !default;
$navigation-border: $border-color !default;
$navigation-color: $color-primary-type !default;
$navigation-accent: $color-accent-primary !default;

$navigation-hover-background: $color-primary !default;
$navigation-hover-border: $color-primary-light !default;
$navigation-hover-color: $color-primary-type !default;
$navigation-hover-accent: $color-accent-primary !default;

$navigation-active-background: $navigation-background !default;
$navigation-active-border: $navigation-accent !default;
$navigation-active-color: $navigation-accent !default;



/**
 * Toolbar
 * =======
 */

$toolbar-spacing: round($font-size * 0.7) !default;

$toolbar-background: $color-primary-darkest !default;
$toolbar-border: $border-color !default;
$toolbar-color: $color-primary-type !default;

$toolbar-button-default-background: $color-primary-lightest !default;
$toolbar-button-default-border: $color-primary-lightest !default;
$toolbar-button-default-color: $color-primary-type !default;
$toolbar-button-default-hover-background: $color-secondary-light !default;
$toolbar-button-default-hover-border: $color-secondary-light !default;
$toolbar-button-default-hover-color: $color-secondary-type !default;

$toolbar-button-success-background: $color-secondary !default;
$toolbar-button-success-border: $color-secondary !default;
$toolbar-button-success-color: $color-secondary-type !default;
$toolbar-button-success-hover-background: $color-secondary-light !default;
$toolbar-button-success-hover-border: $color-secondary-light !default;
$toolbar-button-success-hover-color: $color-secondary-type !default;

$toolbar-title-background: darken($color-primary-darkest, 2%) !default;
$toolbar-title-color: $color-primary-type !default;



/**
 * Overflowing
 * Overflowing shadows
 */

$overflow-size: 6px;
$overflow-blur: $overflow-size * 2;
$overflow-offset: -($overflow-size);
$overflow-color: rgba(0,0,0,.66);



/**
 * Radio toggle
 * ============
 * 1. Use styled radio toggles?
 * 2. The color for "false"/0 items
 * 3. The color for "true"/1 items
 * 4. The color for neutral items
 */

$radio-toggle: true !default; // 1
$radio-toggle-0: #c0392b !default; // 2
$radio-toggle-1: $color-success !default; // 3
$radio-toggle-neutral: $color-accent !default; // 4



/**
 * Bootstrap overrides
 * ===================
 * We depend on Bootstrap 3 for a few basic things
 * This is the place to overwrite the used variables
 */

$input-height-base: 32px !default;
$padding-base-vertical: 5px !default;
$padding-base-horizontal: 10px !default;
$btn-success-bg: $color-success;
$btn-success-color: $color-success-type;

















/* @TODO: refactor
=========================================
*/

$location-border: $border-color !default;




// For the off canvas menu
$button-size: 38px;
$bar-width: 20px; // Best to grab a number that can be divided by 5
$bar-height: round($bar-width / 5);
$overlay-background: black;


$breadcrumb-background: $color-secondary !default;






$red: #c0392b;
$green: #27ae60;
$blue: #2980b9;
$checkbox-toggle-width: 60px;
$checkbox-toggle-height: 32px;
$checkbox-toggle-border-width: 1px;
$checkbox-toggle-padding: 1px;
$checkbox-toggle-border-radius: 6px;
$checkbox-toggle-width-inner: $checkbox-toggle-width - (($checkbox-toggle-border-width + $checkbox-toggle-padding) * 2);
$checkbox-toggle-height-inner: $checkbox-toggle-height - (($checkbox-toggle-border-width + $checkbox-toggle-padding) * 2);












$button-size: 33px;
$bar-width: 15px; // Best to grab a number that can be divided by 5
$bar-height: round($bar-width / 5);