/**
 * The content wrapping div
 * ========================
 * 1. Clearing toolbar floats when flexbox is not in use
 */

.k-content-wrapper {
  margin: 0;
  clear: both;

  // Faking flexbox on older browsers by using table styling
  @include breakpoint($desktop) {
    display: table;
    width: 100%;
  }
}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-content-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow: hidden;
  }
}



/**
 * Wrapper when toggled
 * ====================
 * 1. Hide overflowing when menu is toggled
 * 2. Set back to auto when screen is wide enough
 */

.opened--left,
.opened--right {
  overflow: hidden; // 1

  @include breakpoint($desktop) {
    overflow: auto; // 2
  }
}