/* ==========================================================================
   Upload
   ========================================================================== */

/**
<!-- filter container -->
<div class="k-filter-container">
    <div class="k-filter-group">
        <div class="k-filter">
            ...
        </div>
        <div class="k-filter k-filter--text">
            is
        </div>
        <div class="k-filter">
            ...
        </div>
    </div>
</div><!-- .k-filter-container -->
*/

.k-filter-container {
  @include border(bottom, $filter-container-border);
  position: relative;
  background: $filter-container-background;
  font-size: 0;


  /* When flexbox is in use */

  @include flexbox($horizontal: $charlie) {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
  }


  /* Hide when JS is enabled */

  @include js-enabled {
    display: none;
  }


  /* Show when it has a visible class */

  &.js-is-visible {
    display: block;


    /* When flexbox is in use */

    @include flexbox($horizontal: $charlie) {
      display: flex;
      align-items: center;
    }
  }
}



/**
 * Group in single item
 */

.k-filter-group {
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  line-height: 12px;
}