/* ==========================================================================
   Upload
   ========================================================================== */

/**
<!-- filter container -->
<div class="k-filter-container">
    <div class="k-filter-container__item">
    </div>
</div><!-- .k-filter-container -->
*/

.k-filter-container {
  display: table;
  width: 100%;
  background: $filter-container-background;

  /* When flexbox is in use */

  @include flexbox {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
  }
}


/* The items */

.k-filter-container__item {
  @include border(bottom, $filter-container-border);
  width: 100%;
  padding: $filter-container-spacing;
  display: table;


  /* Hide items when JS is enabled */

  @include js-enabled {
    display: none;
  }


  /* Show items when they have a visible class */

  &.js-is-visible {
    display: table;


    /* When flexbox is in use */

    @include flexbox {
      display: flex;
      align-items: center;
    }
  }

}


/* Cells within items */

.k-filter-container__item__cell {
  display: table-cell;
  vertical-align: middle;
  padding-left: $filter-container-spacing;
  max-width: 220px;


  /* When flexbox is in use */

  @include flexbox {
    flex: 0 1 auto;
  }


  /* No left padding on first items */

  &:first-child {
    padding-left: 0;
  }


  /* No margins for labels */

  label {
    margin: 0;
  }
}


/*  */

.k-filter-container__item__cell--fixed {
  flex: 0 0 auto;
  white-space: nowrap;
}
