/* Styled warning for when there are no categories yet */

.no-items-container.alert {
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 1.5em;
  line-height: 1.5em;

  p {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include flexbox {
    flex: 0 0 auto;
  }
}
