/* Styled warning for when there are no categories yet */

.no-items-container.alert {
  border-radius: 0;
  border: none;
  margin: 0;
  @include border(bottom, $no-items-border);
  font-size: 1.5em;
  line-height: 1.5em;
  background: $no-items-background;
  color: $no-items-color;

  p {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include flexbox {
    flex: 0 0 auto;
  }
}
