/* ==========================================================================
   Scopebar
   ========================================================================== */

/**
<!-- Scopebar -->
<div class="k-scopebar">

    <!-- Filters -->
    <div class="k-scopebar__item--fluid">

        <!-- Filter title -->
        <div class="k-scopebar__item k-scopebar__item--title">Filter:</div>

        <!-- Filter -->
        <div class="select2--link-style select2--filter">
            <select data-placeholder="Status">
                <option selected>--Status--</option>
                <option value="1">Published</option>
                <option value="0">Unpublished</option>
            </select>
        </div>

        <!-- Search toggle button -->
        <button type="button" class="toggle-search">
            <span class="k-icon-magnifying-glass"></span>
            <span class="visually-hidden">Search</span>
        </button>
    </div>

    <!-- Search -->
    <div class="k-scopebar__item k-scopebar__search">
        <div class="search__container">
            <label for="search"><i class="icon-search"></i></label>
            <input type="search" name="search" class="search_button" placeholder="Find by title or description…" value="">
            <a class="search_button--empty"><span>X</span></a>
        </div>
    </div>

</div><!-- .k-scopebar -->
*/

.k-scopebar {
  background: $scopebar-background;
  color: $scopebar-color;

  @include breakpoint($beta) {
    display: table;
    width: 100%;
  }
}


/**
 * When flexbox is in use
 *
 * 1. The scopebar container itself. Changes on global flexbox setting
 * 2. Flexing before global flexbox
 */

@include flexbox {

  /* 1 */

  .k-scopebar {
    width: auto;
    flex: 0 0 auto;
  }
}


/* 2 */

@include flexbox($horizontal: $beta) {

  .k-scopebar {
    display: flex;
    flex: 0 0 auto;
  }

  .k-scopebar__item {
    display: table-cell;
    flex: 0 0 auto;
  }

  .k-scopebar__search {
    flex: 0 1 auto;
  }


  /* Put at least one fluid item in every scopebar */

  .k-scopebar__item--fluid {
    flex: 1 1 auto;
  }
}


/* Scopebar items */

.k-scopebar__item {
  @include border(bottom, $scopebar-border);
  vertical-align: middle;
}


/* Scopebar filter title */

.k-scopebar__item--title {
  width: auto;
  padding: 0 .5em 0 1em;
  font-weight: bold;
  vertical-align: middle;
  font-size: 12px;
  line-height: $scopebar-size;
  display: inline-block;
}


/**
 * Scopebar filters
 *
 * 1. Setting to inline-block to align with title and different filters
 * 2. Setting height to scopebar height
 * 3. Fixing line-height/positioning bug caused by `display: inline-block`
 * 4. Filter size is slightly smaller to make room above the tab
 * 5. Setting the space above the tab
 * 6. An even smaller line-height to position text at the same base as the filter title
 * 7. Set the spacing as bottom so the line-height above will actually work
 * 8. Setting a border for the active item
 * 9. And remove the bottom border to make it a tab
 * 10. Accent color to show it's not just text
 */

.k-scopebar__item--filters {
  display: inline-block; /* 1 */
  height: $scopebar-size; /* 2 */
  width: auto;
  font-size: 12px;

  ul {
    @include reset;
    display: inline-block; /* 1 */
    height: $scopebar-size; /* 2 */
    vertical-align: middle; /* 3 */
  }

  li {
    display: inline-block; /* 1 */
    height: $scopebar-filter-size; /* 4 */
    margin-top: $scopebar-filter-spacing; /* 5 */

    button {
      display: inline-block; /* 1 */
      height: $scopebar-filter-size; /* 4 */
      line-height: $scopebar-filter-size - $scopebar-filter-spacing; /* 6 */
      vertical-align: baseline;
      cursor: pointer;
      padding: 0 .5em $scopebar-filter-spacing; /* 7 */
      border: 1px solid transparent; /* 8 */
      border-bottom: none; /* 9 */
      background: transparent;
      color: $color-accent; /* 10 */


      /**
       * Fake bottom border colored the same as the filter window
       *
       * 1. Transparent for now, colored only for active items
       * 2. Position below the item so it will fall over the scopebar bottom-border
       */

      @include psuedo(after) {
        width: 100%;
        height: 1px;
        background: transparent; /* 1 */
        left: 0;
        bottom: -1px; /* 2 */
      }


      /* A hover to show they are clickable */

      &:hover,
      &:focus {
        text-decoration: underline;
      }

    }


    /**
     * The active item
     *
     * 1. Larger padding to appear more like a tab
     * 2. Set same color as filter container to appear as a tab
     * 3. Darken the border so it's better visible
     * 4. Give fake border the same color as filter container
     */

    &.js-is-active {
      button {
        padding-left: 1em; /* 1 */
        padding-right: 1em; /* 1 */
        border-bottom: none;
        background: $filter-container-background; /* 2 */
        border-color: darker($scopebar-border); /* 3 */
        font-weight: bold;

        &:after {
          background: $filter-container-background; /* 4 */
        }
      }
    }
  }
}


/**
 * Scopebar search
 *
 * 1. Hide by default (when JS is enabled) so we can toggle it open
 * 2. Display as table cell on medium sized screens
 * 3. Display as block for flexbox on larger screens
 * 4. Set a minimum width so the fluid scopebar__item won't make search really small
 * 5. Search area items
 */

.k-scopebar__search {
  position: relative;
  min-width: 200px;

  @include js-enabled {
    display: none; /* 1 */

    @include breakpoint($beta) {
      display: table-cell; /* 2 */
    }

    @include breakpoint($desktop) {
      display: block; /* 3 */
    }
  }


  /* 4 */

  @include breakpoint($beta) {
    max-width: 320px;
  }


  /* 5 */

  .search__container {
    width: 100%;
  }

  label {
    display: none;
  }

  .search_button {
    @include reset;
    display: block;
    width: 100%;
    height: $scopebar-size;
    border-radius: 0;
    padding: $spacing-tiny;
    padding-right: $scopebar-size;
    background: $scopebar-search-background;
    color: $scopebar-search-color;
    box-shadow: none;
    -webkit-appearance: none;

    @include breakpoint($beta) {
      border-left: 1px solid $scopebar-border;
    }
  }

  .search_button--empty {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 10px;
  }

}



/**
 * Search toggle button
 *
 * 1. Hide when search is visible
 */

.toggle-search {
  position: relative;
  display: none;
  float: right;
  overflow: hidden;
  width: 33px;
  height: 0;
  margin: 0;
  border: none;
  padding: 0;
  padding-top: 33px;
  background: transparent;

  .k-icon-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    vertical-align: middle;
    margin: -8px 0 0 -8px;
  }

  @include js-enabled {
    display: block;

    @include breakpoint($beta) {
      display: none; /* 1 */
    }
  }
}
