/* ==========================================================================
   Select2
   ========================================================================== */

/* Overrides & themes for default select2 container */

/**
<div class="select2--link-style select2--filter">
    <select data-placeholder="Status">
        <option selected>--Status--</option>
        <option value="1">Published</option>
        <option value="0">Unpublished</option>
    </select>
</div>
*/


/* 100% wide by default instead of just 200px */

.koowa .select2 {
  width: 100%;
  max-width: 100% !important;
}


/**
 * Select2 styles
 *
 * 1. Make the select2 look like regular text instead of a boxed <select>
 * 2. An inline-block filter style so we can have multiple filters in a row
 */

.koowa {

  /* 1 */

  .select2--link-style {
    .select2-container {
      width: auto !important;

      .select2-selection {
        border: none;
        background: transparent;
      }
    }
  }


  /* 2 */

  .select2--filter {
    display: inline-block;
  }

}


/* Setting a min-width now the width is 100% by default */

@at-root .select2-dropdown {
  min-width: 200px;
}


/* Positioning the clear (x) button */

.koowa .select2-selection__clear {
  margin: -1px -2px 0 10px;
}


/* Styling the select2 to be as tall as default <select> elements */

.select2-container .select2-selection--single {
  height: 32px;
  border: 1px solid #ccc;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
}
