/* ==========================================================================
   Select2
   ========================================================================== */

/* 100% wide by default instead of just 200px */

.koowa .select2 {
  width: 100%;
  max-width: 100% !important;
}


/* Setting a min-width now the width is 100% by default */

@at-root .select2-dropdown {
  min-width: 200px;
}


/* Styling the select2 to be as tall as default <select> elements */

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
  height: 28px;
  min-height: 28px;
  box-sizing: border-box;
}


/* Removing the box-shadow that gets added by Joomla */

.select2-container.select2-container {
  input[type] {
    &,&:hover,&:focus,&:active {
      box-shadow: none;
      height: auto;
      margin: 0;
      line-height: inherit;
    }
  }
}