/* ==========================================================================
   Tiny select2 filter field
   ========================================================================== */


/**
 * Basic styling
 *
 * 1. Extend to bootstrap theme so basic styling looks the same
 * 2. Reset .koowa .select2 standard 200px min-width
 */

:root .select2-container--tiny {
  @extend .select2-container--bootstrap; /* 1 */
  min-width: 0; /* 2 */
}



/**
 * Selector styling only (not for dropdown)
 */

.select2.select2-container--tiny {

  /* Selection */

  .select2-selection {
    padding: 0;
    height: 22px;
    line-height: 18px;
    font-size: 12px;
  }


  /* Single select style */

  .select2-selection--single {
    padding: 2px 5px;
    height: 22px;
    line-height: 18px;
    font-size: 12px;
    padding-right: 24px;


    /* Better arrow positioning */

    .select2-selection__arrow b {
      margin-top: -1px;
    }
  }


  /**
   * Multiple select style
   *
   * 1. Make selection less tall
   * 2. Keep all choices on one row
   */

  .select2-selection--multiple {
    min-height: 0; /* 1 */

    .select2-selection__rendered {
      height: 20px; /* 1 */
      line-height: 16px; /* 1 */
      white-space: nowrap; /* 2 */
    }


    /**
     * Individual choices
     *
     * 1. Place inline
     * 2. Make smaller to fit parent
     */

    .select2-selection__choice {
      float: none; /* 1 */
      display: inline-block; /* 1 */
      vertical-align: middle; /* 1 */
      margin: 1px; /* 2 */
      padding: 0 4px; /* 2 */
      line-height: 16px; /* 2 */
    }


    /**
     * Search field
     *
     * 1. Place field inline after the choices
     * 2. Make less tall
     * 3. Overwrite '100% !important' .koowa .select2 styling
     * 4. Remove box-shadow
     */

    .select2-search--inline {
      display: inline-block; /* 1 */
      vertical-align: middle; /* 1 */

      .select2-search__field {
        height: 20px; /* 2 */
        line-height: 16px; /* 2 */
        padding: 0 5px;
        width: 50px !important; /* 3 */
        box-shadow: none; /* 4 */
      }
    }
  }

  /**
   * When the container is opened
   *
   * 1. Set a higher z-index than it's siblings
   * 2. The selection should win over the faux border (psuedo element)
   * 3. Create a faux border since dropdown can be larger than the selectbox
   */

  &.select2-container--open {
    z-index: 3; /* 1 */

    .select2-selection {
      position: relative; /* 2 */
      z-index: 4; /* 2 */
    }

    @include psuedo(after,false) { /* 3 */
      background: #66AFE9;
      z-index: 1;
      width: 200px;
      height: 1px;
      bottom: 1px;
      left: 0;
      right: 0;
    }
  }


  /* Position faux border when dropdown goes up */

  &.select2-container--above {
    &:after {
      bottom: auto;
      top: 1px;
    }
  }
}