/* ==========================================================================
   Upload
   ========================================================================== */

/**
<!-- upload -->
<div class="k-upload">
    <div class="k-upload__drop">
        Drop files here <small>(max 10MB)</small>
    </div>
    <div class="k-upload__buttons">
        <button class="btn btn-sm btn-primary">Select</button>
        <button class="btn btn-sm btn-primary">From URL</button>
    </div>
</div><!-- .k-upload -->
*/

.k-upload {
  @include border(bottom, $upload-border);
  display: table;
  width: 100%;
  padding: $upload-spacing;
  background: $upload-background;
  position: relative;


  /* When flexbox is in use */

  @include flexbox {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
  }
}


/**
 * The drop message
 *
 * 1. 100% width so this 'cell' expands
 */

.k-upload__drop {
  display: table-cell;
  width: 100%; /* 1 */
  margin: 0;
  line-height: $upload-drop-line-height;
  font-size: $upload-drop-font-size;
  color: $upload-drop-color;


  /**
   * When flexbox is in use
   *
   * 1. Flexible item
   * 2. Reset display to block
   * 3. Reset width for flexbox
   */

  @include flexbox {
    flex: 1 0 auto; /* 1 */
    display: block; /* 2 */
    width: auto; /* 3 */
  }


  /* <small> upload message behind title */

  small {
    font-size: $font-size;
    padding-left: 5px;
  }
}


/**
 * Clickable buttons to upload
 *
 * 1. 1px width so this 'cell' stays small
 * 2. nowrap to make sure buttons stay next to each other
 */

.k-upload__buttons {
  display: table-cell;
  width: 1px; /* 1 */
  white-space: nowrap; /* 2 */
  padding-right: $upload-buttons-spacing;


  /**
   * When flexbox is in use
   *
   * 1. Non-flexible item
   * 2. Reset display to block
   * 3. Reset width for flexbox
   */

  @include flexbox {
    flex: 0 0 auto; /* 1 */
    display: block; /* 2 */
    width: auto; /* 3 */
  }
}








// @TODO: refactor
.k-upload__drop__content {
  display: table;
  width: 100%;
}

.k-upload__drop__message {
  display: table-cell;
  vertical-align: middle;
}

.k-upload__drop__uploader {
  display: table-cell;
  vertical-align: middle;
}

.plupload_filelist_footer {
  div {
    display: inline-block;
  }
}

.k-upload__loading {
  @include coverall;
  background: white;
  z-index: 10;
  text-align: right;
}

.k-upload__loading__bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background: lightest($color-accent);
  border: 1px solid white;
}

.k-upload__loading__text {
  color: black;
  height: 20px;
  line-height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -10px;
  padding: 0 1em 0 0;
}