/**
 * Default paragraph style
 * =======================
 * 1. Using single colon so it works in IE8 as well
 */

p {
  margin-top: 0;
  margin-bottom: 1.5em;

  &:last-child {
    margin-bottom: 0;
  }
}