/**
 * Styled warning for when there are no categories yet
 *
 * 1. Reset border styling from Bootstrap
 */

.no-items-container.alert {
  border-radius: 0; /* 1 */
  border: none; /* 1 */
  margin: 0;
  @include border(bottom, $no-items-border);
  font-size: 1.5em;
  line-height: 1.5em;
  background: $no-items-background;
  color: $no-items-color;

  p {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }


  /* Don't flex this container */

  @include flexbox {
    flex: 0 0 auto;
  }
}
