/**
 * Default styles with JavaScript disabled
 * =======================================
 */

.k-breadcrumb {
  overflow: auto;
  background: $breadcrumb-background;
  color: $color-secondary-type;
  @include border(bottom, $location-border);

  a,
  button {
    color: $color-secondary-type;

    &:focus,
    &:hover {
      background: $color-secondary-dark;
    }
  }

  ul {
    @include reset; // Resetting the ul



    /**
     * Flexing items to get overflow ellipsis
     * --------------------------------------
     */

    @include flexbox {
      display: flex;
    }

  }

  /**
   * Styling list items
   * ------------------
   * 1. Make each item at least one breadcrumb size wide
   * 2. Make room for the separator
   * 3. Set z-index to 0 so the :after psuedo element will be on top
   * 4. Hide by default so we can show only a few on mobile
   * 5. Hide overflowing content
   * 6. Proper spacing for non-flexbox use
   */

  li {
    min-width: $breadcrumb-size; // 1
    padding-left: $breadcrumb-divider-size; // 2
    position: relative; // 3
    z-index: 0; // 3
    display: none; // 4
    overflow: hidden; // 5
    vertical-align: middle; // 6

    // Display them on larger screens
    @include breakpoint($breadcrumb-query) {
      display: inline-block;
    }

    /**
     * Flexing items to get overflow ellipsis
     * --------------------------------------
     */

    @include flexbox($horizontal:$breadcrumb-query) {
      display: table-cell;
      flex: 0 1 auto;
    }



    /**
     * List item separator
     * ------------------
     */

    @include psuedo(before, $content: false) {
      content: $breadcrumb-divider-content;
      width: $breadcrumb-divider-size;
      top: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      padding-top: $breadcrumb-size / 4;
      padding-bottom: $breadcrumb-size / 4;
      line-height: $breadcrumb-size / 2;
    }

    // Adding psuedo element to show on hover
    // This way on mobile you get a double tap
    &:after {
      display: none;
      content: " ";
    }


    // No separator on first item
    &:first-child {
      padding-left: 0;

      &:before {
        display: none;
      }
    }



    /**
     * Hover
     * -----
     */

    &:last-child {
      a:after {
        left: auto;
        right: 2px;
      }
    }

    // Increase z-index on hover
    &:hover {
      z-index: 1;
      overflow: visible;

      @include flexbox {
        flex: 0 0 auto;
      }

      // Display the psuedo element to get a double tap
      &:after {
        display: block;
      }
    }
  }



  /**
   * first and last elements
   * -----------------------
   * 1. No flexing for these items so the are readable
   * 2. Always display these items
   * 3. Do not show the hover
   */

  .active,
  .home {
    display: inline-block; // 2
    overflow: visible;

    @include flexbox($horizontal:$breadcrumb-query) {
      flex: 0 0 auto; // 1
    }

    // 3
    a:after
    a:focus:after,
    a:hover:after {
      display: none;
    }
  }



  /**
   * One but last item
   * -----------------
   * Show this item on mobile to get a sense of where you are
   */

  li:nth-last-child(2) {
    display: inline-block;

    &:before {
      content: $breadcrumb-missing-content;

      @include breakpoint($breadcrumb-query) {
        content: $breadcrumb-divider-content;
      }
    }
  }

}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-breadcrumb {
    display: block;
    flex: 0 0 auto;
  }
}



/**
 * Single breadcrumb items
 * =======================
 */

.k-breadcrumb__item {
  min-width: $breadcrumb-size;
  min-height: $breadcrumb-size;
  text-align: center;
  display: block;
  position: relative;
  z-index: 2;
  line-height: $breadcrumb-size / 2;
  text-decoration: none;
  padding: round($breadcrumb-size / 4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover,
  &:focus {
    &:after {
      display: block;
    }
  }
}

// Bold active item
.active {
  .k-breadcrumb__item {
    font-weight: $bold;
  }
}