/**
 * Default styles with JavaScript disabled
 * =======================================
 */

.k-component {
  position: relative;
}



/**
 * When flexbox is in use
 * ======================
 * 1. Otherwise flexbox doesn't work
 */

@include flexbox {
  .k-component {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden; // 1
  }
}