/**
 * Default styles with JavaScript disabled
 * =======================================
 */

.k-component {
  position: relative;

  // Fake flexbox by using tables
  @include breakpoint($desktop) {
    display: table-cell;
    vertical-align: top;
  }
}



/**
 * When JavaScript is enabled
 * ==========================
 */

@at-root .k-js-enabled {
  .k-component {
    display: table-cell;
    vertical-align: top;
  }
}



/**
 * When flexbox is in use
 * ======================
 */

.k-flex {
  @include flexsize {
    .k-component {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }
  }
}



/**
 * After toggling the sidebar
 * ==========================
 */
.k-component.k-closed {
  // 1. Position the component next to the sidebar
  // 2. Make it wide enough to keep all children inside aligned vs stacked
  // 3. Pull back the whole component to show the toggle button
  position: absolute; // 1
  top: 0; // 1
  left: 100%; // 1
  z-index: 9;
  width: 999px; // 2
  margin-left: -($toggle-button-width); // 3

  // Hide all but toggle button below an opaque mask
  &:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    z-index: 9;
  }

  // Make sure the toggle button container has a high enough z-index
  // to win over the mask
  .k-location {
    position: relative;
    z-index: 10;
  }
}