/**
 * Default styles with JavaScript disabled
 * =======================================
 */

.k-content-wrapper {
  position: relative;
  margin: 0;

  // Faking flexbox on older browsers by using table styling
  @include breakpoint($desktop) {
    display: table;
    width: 100%;
  }
}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-content-wrapper {
    width: auto;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
  }
}



/**
 * Wrapper when toggled
 * ====================
 * 1. Hide overflowing when menu is toggled
 * 2. Set back to auto when screen is wide enough
 */

.opened--left,
.opened--right {
  position: relative; // 1
  overflow: hidden; // 1

  @include breakpoint($desktop) {
    overflow: auto; // 2
  }
}