/**
 * Default styles with JavaScript disabled
 * =======================================
 * 1. Used for the off canvas menu
 * 2. Setting a background so container will fall nicely over the sidebar
 */

.k-content {
  transition: $transition; // 1
  background: white; // 2

  @include psuedo(after) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    z-index: -1;
    display: block;
    opacity: 0;
    transition: all .2s ease-in-out;
  }

  // Faking flexbox on older browsers by using table styling
  @include breakpoint($desktop) {
    display: table-cell;
    width: 100%;
  }
}


/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: auto;
  }
}