/**
 * Default styles with JavaScript disabled
 * =======================================
 */

.k-content {
  transition: $transition;

  @include psuedo(after) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    z-index: -1;
    display: block;
    opacity: 0;
    transition: all .2s ease-in-out;
  }

  // Faking flexbox on older browsers by using table styling
  @include breakpoint($desktop) {
    display: table-cell;
    width: 100%;
  }
}
.k-sidebar-toggled .k-content {
  transform: translate(200px,0);
}

.k-sidebar-toggled .k-content:after {
  opacity: .5;
  z-index: 1;
}


/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-flex {
    .k-content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
    }
  }
}











/**
 * Default styles with JavaScript disabled
 * =======================================
 */

.k-content-wrapper {
  position: relative;
  margin: 0;

  // Faking flexbox on older browsers by using table styling
  @include breakpoint($desktop) {
    display: table;
    width: 100%;
  }
}



/**
 * When JavaScript is enabled
 * ==========================
 */

@at-root .k-js-enabled {
  .k-content-wrapper {
    // Faking flexbox on older browsers by using table styling
    display: table;
    width: 100%;
  }
}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-flex {
    .k-content-wrapper {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
    }
  }
}









/**
 * Default styles with JavaScript disabled
 * =======================================
 */

.k-component-wrapper {
  position: relative;

  // Faking flexbox on older browsers by using table styling
  @include breakpoint($desktop) {
    display: table;
    width: 100%;
  }
}



/**
 * When JavaScript is enabled
 * ==========================
 */

@at-root .k-js-enabled {
  .k-component-wrapper {
    // Faking flexbox on older browsers by using table styling
    display: table;
    width: 100%;
  }
}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-flex {
    .k-component-wrapper {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
    }
  }
}


