/**
 * Default with JavaScript disabled
 * ================================
 */

.k-location {
  background: $color-secondary;
  color: $color-secondary-type;
  @include border(bottom, $location-border);

  a,
  button {
    color: $color-secondary-type;

    &:focus,
    &:hover {
      background: $color-secondary-dark;
    }
  }
}



/**
 * When flexboxt is in use
 * =======================
 */

@include flexbox {
  .k-flex {
    .k-location {
      display: flex;
      flex: 0 0 auto;
    }
  }
}