/**
 * Default styles with JavaScript disabled
 * =======================================
 */

.k-scopebar {
  @include breakpoint($beta) {
    display: table;
    width: 100%;
  }

  background: $scopebar-background;
  color: $scopebar-color;

  .select2,
  button {
    height: $unit-size;
    padding: 0 $spacing-tiny;
  }

  a {
    color: $scopebar-color;
    cursor: pointer;
  }
}



/**
 * Scopebar items
 * ==============
 * 1. So the dropdowns get placed properly
 */
.k-scopebar__item {
  display: block;
  position: relative; // 1
  @include border(bottom, $scopebar-border);

  @include breakpoint($beta) {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
  }
}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-scopebar {
    display: flex;
    flex: 0 0 auto;
  }

  .k-scopebar__item {
    display: flex;
    flex: 0 0 auto;
  }

  .k-scopebar__item--fluid {
    flex: 1 1 auto;
  }

  .k-scopebar__search {
    flex: 0 1 auto;
  }
}



/**
 * Scopebar buttons
 * ================
 */

.k-scopebar__item--buttons {
  display: table;
}

.k-scopebar__button {
  height: $scopebar-size;
  min-width: $scopebar-size;
  text-align: center;
  display: table-cell

  &:focus,
  &:hover {
    background: $color-secondary-darkest;
  }
}


/**
 * Scopebar search
 */

.k-scopebar__search {
  position: relative;
  min-width: 200px;

  .search__container {
    width: 100%;
  }

  label {
    display: none;
  }

  .search_button {
    @include reset;
    -webkit-appearance: none;
    display: block;
    background: $scopebar-search-background;
    color: $scopebar-search-color;
    padding: $spacing-tiny;
    height: $scopebar-size;
    padding-right: $scopebar-size;
    border-radius: 0;
    width: 100%;
    border-left: 1px solid $border-color;
    box-shadow: none;
  }

  .search_button--empty {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 10px;
  }

}