/**
 * Default styles with JavaScript disabled
 * =======================================
 */

.k-sidebar {
  @include border(right, $sidebar-border);
  background: $sidebar-background;
  color: $sidebar-color;
  -webkit-overflow-scrolling: touch;
  vertical-align: top;

  // Faking flexbox on older browsers by using table styling
  @include breakpoint($desktop) {
    @include allwidth($sidebar-width-small);
    position: relative;
    display: table-cell;
  }

  // Larger sidebar when space is available
  @include breakpoint($delta) {
    @include allwidth($sidebar-width);
  }
}



/**
 * When JavaScript is enabled
 * ==========================
 */
@at-root .k-js-enabled {
  .k-sidebar {
    @include allwidth($sidebar-width);
    position: absolute;
    z-index: 1;
    top: 0; // 2
    height: 100%; //3
    overflow: auto; // 3
    display: none; // 5
    left: 0; // 2

    &--right {
      right: 0; // 2
    }

    .opened--left {
      .k-sidebar {
        display: block;
      }
    }

    // On 'desktop' we 'open' the sidebar
    @include breakpoint($desktop) {
      @include allwidth($sidebar-width-small);
      position: relative;
      height: auto;
      display: block;
    }

    // And we make it even larger when there's enough space
    @include breakpoint($delta) {
      @include allwidth($sidebar-width);
    }
  }
}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-flex {
    .k-sidebar {
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
    }

    .k-sidebar__item {
      flex: 1 0 auto;
    }
  }
}