/**
 * Default with JavaScript disabled
 * ================================
 */

.k-titlebar {
  @include border(bottom, $toolbar-border);
  background: $toolbar-title-background;
  color: $toolbar-color;
  padding: 0;

  h2 {
    padding: 3px 0;
    font-weight: $regular;
    font-size: round($font-size * 1.15);

    @include breakpoint($desktop) {
      font-size: round($font-size * 1.25);
    }

    @include breakpoint($delta) {
      font-size: round($font-size * 1.4);
    }
  }
}

@include flexbox {
  .k-titlebar {
    flex: 0 0 auto;
  }
}