/**
 * Default with JavaScript disabled
 * ================================
 */

.k-titlebar {
  @include border(bottom, $toolbar-border);
  background: $toolbar-title-background;
  color: $toolbar-color;
  padding: 0;
  transition: transform $transition; // 1
  position: relative;
  z-index: 2;

  @include psuedo(before) {
    @include coverall();
    margin-bottom: -1px;
    z-index: -1;
    background: $overlay-background;
    transition: opacity $transition;
    opacity: 0;

    @include breakpoint($desktop) {
      display: none; // 4
    }
  }

  h2 {
    padding: 3px 0;
    font-weight: $regular;
    font-size: round($font-size * 1.15);

    @include breakpoint($desktop) {
      font-size: round($font-size * 1.25);
    }

    @include breakpoint($delta) {
      font-size: round($font-size * 1.4);
    }
  }
}

@include flexbox {
  .k-titlebar {
    flex: 0 0 auto;
  }
}


/**
 * Overlay when toggled
 * ====================
 * 1. Set opacity
 * 2. Set z-index to 1 so it will become visible
 */

.show-left-menu,
.show-right-menu {
  .k-titlebar:before {
    opacity: .5; // 1
  }
}

.opened--left,
.opened--right {
  .k-titlebar:before {
    z-index: 2; // 2
  }
}