/**
 * Default with JavaScript disabled
 * ================================
 * By default we hide the button so it won't show when JS is disabled
 */

.k-button--toggle {
  display: none;
  min-height: 32px;
  height: 100%;
  @include allwidth($toggle-button-width);
  @include border(right, $toggle-button-border);
}



/**
 * When JavaScript is enabled
 * ==========================
 */

@at-root .k-js-enabled {
  .k-button--toggle {
    // Faking flexbox on older browsers by using table styling
    display: table-cell;
    vertical-align: top;
  }
}



/**
 * When flexbox is in use
 * =======================
 */

@include flexbox {
  @at-root .k-js-enabled {
    .k-flex {
      .k-button--toggle {
        display: flex;
        flex: 0 0 $toggle-button-width;
      }
    }
  }
}