/**
 * Overview layout
 * ===============
 * The default overview layout
 * 1. Left sidebar
 * 2. Toggle button
 * 3. Breadrumbs
 * 4. Upload area
 * 5. Scopebar
 * 6. Table / grid / content
 * 7. Right sidebar
 * _____________________________
 * |  1  |2|_3___________|  7  |
 * |     |_4_____________|     |
 * |     |_5_____________|     |
 * |     | 6             |     |
 * |     |               |     |
 * |     |               |     |
 * |_____|_______________|_____|
 */

@import "components/titlebar";
@import "components/content-wrapper";
@import "components/content";
@import "components/sidebar";
@import "components/toggle-button";
@import "components/breadcrumb";
@import "components/scopebar";
@import "components/component-wrapper";
@import "components/component";
@import "components/sidebar-right";



/**
 * Default styles with JavaScript disabled
 * =======================================
 */

.k-overview {
  background: $overview-background;
  @include border(all, $overview-border);
}



/**
 * When JavaScript is enabled
 * ==========================
 */

@include js-enabled {
  .k-overview {
    height: 100%;
  }
}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-overview {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: $flexbox-vertical;
    height: auto;
  }
}