/**
 * Setting up html and body
 * ========================
 * This way we can work with full-height auto overflowing flexbox pages
 */

html,
body {
  min-height: 100%;
  height: 100%;
}



/**
 * Default body settings
 * =====================
 * Setting up font and spacing
 */

body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  padding: 0;
  margin: 0;
  border: none;



  /**
   * When flexbox is enabled
   * -----------------------
   */

  @include flexbox {
    display: flex;
    flex: 1 1 auto;
  }
}



/**
 * Default koowa wrapper
 * =====================
 * 1. By using a max-width we essentially set a min-width when the contents are
 *    to large for the koowa container. The reason we don't use min-width is
 *    because if the content is only 300px we don't need horizontal scrollbars
 * 2. Reset the max-width when viewport is as large as minwidth
 * 3. Use z-index to be able to talk with JavaScript
 * 4. Needed for webkit / blink for JS to read zindex value
 */

.koowa {
  max-width: $minwidth; // 1
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 0; // 3
  position: relative; // 4
  background: $koowa-background;
  padding: $koowa-padding;
  -webkit-font-smoothing: $font-smoothing;

  @include breakpoint($minwidth) {
    max-width: none; // 2
  }

  /**
   * When flexbox is enabled
   * -----------------------
   */

  @include flexbox {
    display: flex;
    flex: 1 1 auto;
  }



  /**
   * On 'desktop' view
   * -----------------
   */

  @include breakpoint($desktop) {
    z-index: 1; // 3
  }



  /**
   * Border-box size everything
   * --------------------------
   */

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

}