$color-primary: white !default;
$color-primary-type: #555 !default;
$color-primary-light: lighten($color-primary, 5%) !default;
$color-primary-dark: darken($color-primary, 5%) !default;
$color-secondary: #f6f6f6 !default;
$color-secondary-type: #555 !default;

$color-accent: #0073AA !default;
$color-accent-dark: darken($color-accent, 15%) !default;
$color-accent-type: white !default;

$color-type: #333 !default;

$border-color: #e1e1e1 !default;
$border-width: 1px !default;
$border-style: solid !default;


/**
 * Accent colors
 */
$color-success: #27ae60 !default;
$color-success-light: #2ecc71 !default;
$color-success-type: white !default;

$color-accent-primary: $color-accent !default;

$scopebar-background: #eee !default;

$table-header-background: white !default;

$list-hover-background: #f5f5f5 !default;
$list-hover-border: #ddd !default;

$navigation-hover-background: #f9f9f9 !default;
$navigation-hover-border: #ddd !default;

/**
 * Toolbar
 * =======
 */
$toolbar-spacing: 9px !default;

$toolbar-background: #DCE3E9 !default;
$toolbar-color: $color-accent-dark !default;
$toolbar-title-background: darken($toolbar-background, 3%) !default;
$toolbar-title-color: $color-accent-dark !default;

$toolbar-button-background: white !default;
$toolbar-button-color: $color-type !default;
$toolbar-button-hover-background: $color-primary-dark !default;
$toolbar-button-hover-color: $color-primary-type !default;

$toolbar-button-primary-background: $color-success !default;
$toolbar-button-primary-color: $color-success-type !default;
$toolbar-button-primary-hover-background: $color-success-light !default;
$toolbar-button-primary-hover-color: $color-success-type !default;

$toolbar-border: #c7d1da !default;

