.floatThead-wrapper {
  display: flex;
  flex: 0 1 auto;
  overflow: auto;
  z-index: 1 !important; // Overriding inline styling, we don't need a z-index of 1000+
}


.k-modal-holder {
  display: none;
}



.k-mobile-title {
  padding: 10px;

  .k-heading {
    margin: 0;
  }
}

.k-heading {
  font-size: 20px;
  margin: 0 0 $spacing;
}

.hide-when-sidebar-is-visible {
  @include breakpoint($charlie) {
    display: none;
  }
}

.k-mobile-title {
  background: colorpicker(primary);
  border-bottom: 1px solid colorpicker(primary,10);
}


.testing {
  border: 5px solid green;
  transition: all 2s;
}

@at-root .k-js .testing {
  border-color: purple;
}