.ercan-todo {
  outline: 2px solid green !important;
  outline-offset: -1px;
}

.robin-todo {
  outline: 2px solid purple !important;
  outline-offset: -1px;
}

.todo {
  outline: 2px solid red !important;
  outline-offset: -1px;
}