// Mobile title
.k-mobile-title {
  background: $mobile-title-background;
  border-bottom: 1px solid $mobile-title-border;
  padding: 10px;

  .k-heading {
    margin: 0;
    font-size: 20px;
  }

  @include breakpoint($charlie) {
    display: none;
  }

  @include flexbox {
    flex: 0 0 auto;
  }
}