/**
 * Default styles with JavaScript disabled
 * =======================================
 * 1. Scroll when items don't fit parent anymore
 */

.k-breadcrumb {
  @include border(bottom, $location-border);
  background: $breadcrumb-background;
  color: $color-secondary-type;
  overflow: auto; // 1
}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-breadcrumb {
    flex: 0 0 auto;
  }
}



/**
 * Breadcrumb contents
 * ===================
 */

.k-breadcrumb {

  /**
   * Links
   * -----
   * 1. Full background hover
   */

  a {
    color: $color-secondary-type;

    &:focus,
    &:hover {
      background: $color-secondary-dark; // 1
    }
  }



  /**
   * List
   * ----
   * 1. Reset unordered list styling
   */

  ul {
    @include reset; // 1



    /**
     * Flexing items to get overflow ellipsis
     * --------------------------------------
     */

    @include flexbox {
      display: flex;
    }

  }

  /**
   * Styling list items
   * ------------------
   * 1. Make each item at least one breadcrumb size wide
   * 2. Make room for the separator
   * 3. Set z-index to 0 so the :after psuedo element will be on top
   * 4. Hide by default so we can show only a few on mobile
   * 5. Hide overflowing content
   * 6. Proper spacing for non-flexbox use
   */

  li {
    min-width: $breadcrumb-size; // 1
    padding-left: $breadcrumb-divider-size; // 2
    position: relative; // 3
    z-index: 0; // 3
    display: none; // 4
    overflow: hidden; // 5
    vertical-align: middle; // 6



    /**
     * Display on larger screens
     * -------------------------
     */

    @include breakpoint($breadcrumb-query) {
      display: inline-block;
    }



    /**
     * Flexing items to get overflow ellipsis
     * --------------------------------------
     */

    @include flexbox($horizontal:$breadcrumb-query) {
      display: block;
      flex: 0 1 auto;
    }



    /**
     * List item separator
     * ------------------
     */

    @include psuedo(before, $content: false) {
      content: $breadcrumb-divider-content;
      width: $breadcrumb-divider-size;
      top: 0;
      bottom: 0;
      left: 0;
      text-align: center;
      padding-top: $breadcrumb-size / 4;
      padding-bottom: $breadcrumb-size / 4;
      line-height: $breadcrumb-size / 2;
    }



    /**
     * No separator on first item
     * --------------------------
     */

    &:first-child {
      padding-left: 0;

      &:before {
        display: none;
      }
    }



    /**
     * Hover
     * -----
     * 1. Reset flexbox so the whole item is visible
     */

    &:hover {
      overflow: visible;

      @include flexbox {
        flex: 0 0 auto; // 1
      }
    }
  }



  /**
   * first and last elements
   * -----------------------
   * 1. Always display these items
   * 2. No flexing for these items so the are readable
   */

  .home,
  .active {
    display: inline-block; // 1
    overflow: visible; // 1

    @include flexbox($horizontal:$breadcrumb-query) {
      flex: 0 0 auto; // 2
    }
  }



  /**
   * One but last item
   * -----------------
   * Show this item on mobile to get a sense of where you are
   *
   * 1. Set 'missing' content
   * 2. Reset to default content on wider screens
   */

  li:nth-last-child(2) {
    display: inline-block;

    &:before {
      content: $breadcrumb-missing-content; // 1

      @include breakpoint($breadcrumb-query) {
        content: $breadcrumb-divider-content; // 2
      }
    }
  }



  /**
   * Active item
   * --------------------------------------
   */

  .active {
    .k-breadcrumb__item {
      font-weight: $bold;
    }
  }

}



/**
 * Single breadcrumb items
 * =======================
 */

.k-breadcrumb__item {
  min-width: $breadcrumb-size;
  min-height: $breadcrumb-size;
  text-align: center;
  display: block;
  position: relative;
  z-index: 2;
  line-height: $breadcrumb-size / 2;
  text-decoration: none;
  padding: round($breadcrumb-size / 4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}