/**
 * Form block
 * ==========
 * To be used in sidebar of forms
 * Data in these boxes should be non-required info
 */

.k-form-block {
  display: block;
  background: white;
  border: 1px solid #CCD2DC;
}

.k-form-block__header {
  border-bottom: 1px solid #CCD2DC;
  padding: 10px 10px 9px;
  font-weight: bold;
  background: #E3E6EB;
}

.k-form-block__content {
  padding: 15px;
}