/**
 * Form block
 * ==========
 * To be used in sidebar of forms
 * Data in these boxes should be non-required info
 */

.k-form-block {
  background: $color-primary-lightest;
  border: 1px solid $color-primary-darker;
}

.k-form-block__header {
  @include border(bottom, $form-block-header-border);
  padding: $form-block-header-spacing;
  background: $form-block-header-background;
  font-weight: bold;
}

.k-form-block__content {
  padding: $form-block-content-spacing;
}