/**
 * Grid
 * ====
 */

.k-container {
  @include clearfix;
  margin: 0 auto;
  max-width: $maxwidth;
  padding: $spacing;
}

.k-container__main {
  @include breakpoint($charlie) {
    @include span(8);
  }
}

.k-container__sub {
  @include breakpoint($charlie) {
    @include span(4);
  }
}