// @TODO: refactor this file

.k-icon-arrows {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  line-height: 0;
  margin-left: 6px;
  width: 4px;
  height: 10px;

  &:before,
  &:after {
    content: " ";
    display: block;
  }

  &:before {
    @include arrow(top, 4px, $table-header-background-dark);
    margin-bottom: 1px;
  }

  &:after {
    @include arrow(bottom, 4px, $table-header-background-dark);
  }
}

.k-ordered-asc {
  .k-icon-arrows:before {
    border-bottom-color: inherit;
  }

  a:hover,
  a:focus {
    .k-icon-arrows {
      &:before {
        border-bottom-color: $table-header-background-dark;
      }

      &:after {
        border-top-color: inherit;
      }
    }
  }
}

.k-ordered-desc {
  .k-icon-arrows:after {
    border-top-color: inherit;
  }

  a:hover,
  a:focus {
    .k-icon-arrows {
      &:after {
        border-top-color: $table-header-background-dark;
      }

      &:before {
        border-bottom-color: inherit;
      }
    }
  }
}

.k-table th a {
  &:hover,
  &:focus {
    .k-icon-arrows {
      &:after {
        border-top-color: $table-header-background-dark;
      }

      &:before {
        border-bottom-color: inherit;
      }
    }
  }
}

.k-icon-arrow {
  display: inline-block;
  @include arrow(bottom);
  position: relative;
  top: -2px;
  left: -1px;
}

.k-icon-arrow-in {
  display: inline-block;
  @include arrow(right);
  position: relative;
  top: 0;
  left: 0;
  width: 7px;
}

.k-icon-star {
  @include icon-before(star, true) {
    font-size: 12px;
  }
}

.k-icon-remove {
  @include icon-before(close, true) {
    font-size: 10px;
  }
}


.k-icon-calendar {
  @include icon-before(calendar, true);
}

.k-icon-home {
  @include icon-before(home, true);
}

.k-icon-burger {
  @include icon-before(menu, true);
}

.k-icon-list {
  @include icon-before(table, true);
}

.k-icon-grid {
  @include icon-before(grid, true);
}

.k-icon-settings {
  @include icon-before(settings, true);
}

.k-icon-search {
  @include icon-before(search, true);
}

.k-icon-plus {
  @include icon-before(plus, true) {
    font-size: 10px;
  }
}

.k-icon-user {
  @include icon-before(user, true);
}

.k-icon-clock {
  @include icon-before(clock, true);
}

.k-icon-folder {
  @include icon-before(folder, true);
}

.visually-hidden-icon-label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}