/**
 * List
 * ====
 * 1. Reset default <ul> styling
 */

.k-list {
  @include reset($margin: false); // 1
  margin: $list-spacing 0;



  /* Items
   * -----
   */

  li {
    display: block;
    line-height: $line-height;
  }



  /**
   * Links
   * -----
   * 1. Make it fully clickable
   * 2. removing underlines
   */

  a {
    display: block; // 1
    text-decoration: none; // 2
    padding-top: $list-spacing;
    padding-bottom: $list-spacing;
    padding-right: round($list-spacing * 2);
    padding-left: round($list-spacing * 2);
    color: $list-color;



    /* Hover & focus
     * -------------
     */

    &:hover,
    &:focus {
      background: $list-hover-background;
      color: $list-hover-color;
    }
  }



  /**
   * Active link
   * -----------
   */

  .active {
    a {
      font-weight: bold;
      background: $list-active-background;
      color: $list-active-color;

      &:hover {
        background: transparent;
        cursor: default;
      }
    }
  }



  // @TODO: refactor
  .k-clicker,
  [class^="k-icon"] {
    min-width: 1em;
  }

  .k-title {
    width: 99%;
    text-align: left;
  }

  .k-clicker {
    width: 0;
    min-width: 0;
    margin-left: -1px;
    position: relative;

    @include psuedo(before, false) {
      width: 16px;
      height: 1.5em;
      top: 50%;
      left: -13px;
      margin-top: -.75em;
    }

    @include psuedo(after, false) {
      @include arrow;
      top: 50%;
      left: -6px;
      margin-top: -4px;
    }

    &:hover {
      &:after {
        color: $color-primary-accent;
      }
    }
  }

  .toggled .k-clicker {
    &:after {
      border: none;
      @include arrow(bottom);
      margin-left: -3px;
      margin-top: -2px;
    }
  }

  .k-clicker + [class^="k-icon"] {
    margin-left: -1px;
  }

  [class^="k-icon"] {
    display: inline-block;
    text-align: center;
    width: 24px;
  }

  .k-spacer {
    display: table-cell;
    width: 12px;
    min-width: 12px;
    height: 1.5em;
  }
}