/**
 * Navigation
 * ==========
 * 1. Reset default <ul> styling
 */

.k-navigation {
  @include reset($padding: false, $background: false); // 1
  @include border(bottom, $navigation-border);
  padding: $navigation-spacing 0;
  background: $navigation-background;



  /* Items
   * -----
   */

  li {
    display: block;
  }



  /**
   * Links
   * -----
   * 1. Make it fully clickable
   * 2. removing underlines
   */

  a {
    display: block; // 1
    text-decoration: none; // 2
    padding-top: $navigation-spacing;
    padding-bottom: $navigation-spacing;
    padding-right: round($navigation-spacing * 2);
    padding-left: round($navigation-spacing * 3);
    font-size: $font-size-large;
    color: $navigation-color;



    /* Faux border
     * -----------
     * Adding a border to the left, using "after" psuedo since "before" is used for the icon
     */

    @include psuedo(after) {
      width: 5px;
      height: 100%;
      left: 0;
      top: 0;
    }



    /* Hover & focus
     * -------------
     */

    &:hover,
    &:focus {
      background: $navigation-hover-background;

      &:after {
        background: $navigation-hover-border;
      }
    }
  }



  /**
   * Active link
   * -----------
   */

  .active {
    a {
      font-weight: bold;
      background: $navigation-active-background;
      color: $navigation-active-color;

      &:after {
        height: 76%;
        top: 12%;
        background: $navigation-active-border;
      }

      &:hover {
        background: transparent;
        cursor: default;
      }
    }
  }
}