.k-sidebar__item,
.k-table-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;

  &::-webkit-scrollbar {
    width:9px;
  }

  &::-webkit-scrollbar-track {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.2);
  }

  &::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
  }
}

// Shadow boxes on overflowing containers
.overflowing {
  position: relative;

  @include flexbox {
    &--flex {
      display: flex;
      flex: 1 1 auto;
    }
  }

  &--top,
  &--right,
  &--bottom,
  &--left {
    position: absolute;
    z-index: 99;
    pointer-events: none;
  }

  &--top,
  &--bottom {
    height: $overflow-blur;
    left: 0;
    right: 0;
  }

  &--right,
  &--left {
    width: $overflow-blur;
    top: 0;
    bottom: 0;
  }

  &--top {
    top: 0;
    box-shadow: inset 0 $overflow-size $overflow-blur $overflow-offset $overflow-color;
  }

  &--right {
    right: 0;
    box-shadow: inset (-$overflow-size) 0 $overflow-blur $overflow-offset $overflow-color;
  }

  &--bottom {
    bottom: 0;
    box-shadow: inset 0 (-$overflow-size) $overflow-blur $overflow-offset $overflow-color;
  }

  &--left {
    left: 0;
    box-shadow: inset $overflow-size 0 $overflow-blur $overflow-offset $overflow-color;
  }
}