.select2 {
  width: 100%;
  max-width: 100% !important;
}

.select2--link-style {
  .select2 {
    width: auto !important;
  }

  .select2-selection {
    background: transparent;
    border: none;
  }
}

@at-root .select2-dropdown {
  min-width: 200px;
}

.select2-selection__clear {
  margin: -1px -2px 0 10px;
}