.select2-container .select2-selection--single {
  height: 32px;
  border: 1px solid #ccc;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px;
}

.k-form__content {
  background: white;

  form {
    max-width: 1080px;
    margin: auto;
  }
}

.btn {
  text-decoration: none;
}

.k-toolbar .select2-container--default .select2-selection--single {
  background: red;
}

.k-list {
  button {
    color: white;
  }
}

@at-root .k-js-enabled {
  .k-tree {
    max-height: none;

    ul {
      display: none;
    }
  }
}


.k-sidebar__footer {
  padding: $spacing-small;
  color: $list-color;
}

.k-upload {
  background: $color-primary;
  padding: $spacing-small;
  border-bottom: 1px solid #e1e1e1;
  display: table;
  width: 100%;

  @include flexbox {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    width: auto;
  }
}

.drop-message {
  font-size: 1.65em;
  line-height: 1.25em;
  margin: 0;
  color: #595959;
  display: table-cell;
  width: 100%;

  @include flexbox {
    display: block;
    flex: 1 0 auto;
  }
}

.select-message {
  padding-left: 10px;
  display: table-cell;
  width: 1px;
  white-space: nowrap;

  @include flexbox {
    display: block;
    flex: 0 0 auto;
  }
}


// Toolbar
.k-toolbar {
  background: $toolbar-background;
  color: $toolbar-color;
}

.k-toolbar__title {
  padding: $toolbar-spacing;

  @include breakpoint($desktop) {
    background: $toolbar-title-background;
    color: $toolbar-title-color;
  }

  h2 {
    padding: 3px 0;
    font-weight: $regular;
    font-size: $font-size * 1.15;

    @include breakpoint($desktop) {
      font-size: $font-size * 1.25;
    }

    @include breakpoint($delta) {
      font-size: $font-size * 1.4;
    }
  }
}




.k-sidebar-right {
  background: #eee;
  padding: 12px 18px;

  color: #444;

  box-shadow: inset 6px 0 8px -4px #ccc;

  p {
    margin-bottom: 5px;
  }

  .labl {
    display: inline-block;
    width: 100px;
  }
}


.btn-right {
  float: right;
}


