// Table
@include flexbox {
  .k-table-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;

    .k-table {
      display: flex;
      flex: 1 1 auto;

      table {
        flex: 1 1 auto;
      }
    }
    .k-table-pagination {
      flex: 0 0 auto;
    }
  }
}

.k-table {
  table {
    width: 100%;
    text-align: left;
  }

  th, td {
    padding: 10px;
  }

  th {
    background: $table-header-background;
    height: $table-header-size;
    position: relative; // For dropdown lists
    text-align: left;
    white-space: nowrap; // Don't use long header titles
    @include border(bottom, $table-header-border);

    a {
      display: block; // whole th should be clickable
    }

    input {
      display: inline-block;
    }
  }

  td {
    vertical-align: middle;
    text-align: left;
    @include border(bottom, $table-border);
  }

  tr:last-child {
    td {
      border-bottom: none;
    }
  }

  small {
    display: block;
  }
}

.k-table-pagination {
  background: $table-pagination-background;
  border-top: 1px solid $table-pagination-border;
  padding: $spacing-small;
}

// Checkbox
.k-table__checkbox {
  display: inline-block;
}

// Pagination
.table-pagination {
  text-align: center;

  select {
    width: auto;
    display: inline-block;
  }
}


table .limit {
  text-align: center;

  select {
    width: auto;
  }
}


thead {
  th {
    display: none;

    @include breakpoint($beta) {
      display: table-cell;
    }
  }
}



tr.selected {
  td {
    background: #0088CC;
    color: white;

    a {
      color: white;
    }
  }
}