/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-table-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;

    .k-table {
      display: flex;
      flex: 1 1 auto;

      table {
        flex: 1 1 auto;
      }
    }

    .k-table-pagination {
      flex: 0 0 auto;
    }
  }
}



/**
 * Table contents
 * ==============
 */

.k-table {

  table {
    width: 100%;
    text-align: left;
  }

  /**
   * Cells
   * 1. Position checkbox
   * 2. Remove default margin and set negative top margin to visually align vertically
   */

  th,
  td {
    padding: $table-cell-spacing;
    text-align: left;
    vertical-align: middle;
    height: $table-cell-size;

    input {
      display: inline-block; // 1
      vertical-align: middle; // 1
      margin: -1px 0 0 0; // 2
    }
  }



  /**
   * Head
   * 1. Don't use long header titles since they won't be wrapped
   * 2. Hide by default on mobile since we only show the first cell
   * 3. Whole <th> should be clickable
   */

  th {
    @include border(bottom, $table-header-border);
    background: $table-header-background;
    white-space: nowrap; // 1
    display: none; // 2

    @include breakpoint($beta) {
      display: table-cell; // 2
    }

    a {
      display: block; // 3
    }
  }



  /**
   * Body
   * 1. No bottom border for last item
   * 2. Small extra info below title display" block to display below title
   */

  td {
    @include border(bottom, $table-cell-border);
  }

  tr:last-child {
    td {
      border-bottom: none; // 1
    }
  }

  small {
    display: block; // 2
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }



  /**
   * Selected
   * 1. Coloring Links and extra elements
   */

  .selected {
    td {
      background: $table-cell-accent-background;
      color: $table-cell-accent-color;

      a, i, span {
        color: $table-cell-accent-color;
      }
    }
  }
}



/**
 * Table pagination
 * ================
 */

.k-table-pagination {
  @include border(top, $table-pagination-border);
  background: $table-pagination-background;
  padding: $table-pagination-spacing;



  /**
   * Pagination contents
   * -------------------
   * 1. Align vertically
   * 2. Remove standard Bootstrap margin
   * 3. Style <select> to be as large as the pagination
   * 4. Make sure <select> is always as small as possible
   * 5. Separate <select> from pagination
   */

  .limit,
  .pagination {
    display: inline-block; // 1
    vertical-align: middle; // 1
  }

  .pagination {
    margin: 0; // 2
  }

  select {
    height: $input-height-base; // 3
    width: auto; // 4
    margin-right: $table-pagination-spacing; // 5
  }
}