/**
 * Toolbar
 * =======
 */

.k-toolbar {
  @include border(bottom, $toolbar-border);
  background: $toolbar-background;

  // Faking flexbox for older browsers
  @include breakpoint($desktop) {
    width: 100%;
    display: table;
  }
}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-toolbar {
    flex: 0 0 auto;
  }
}



/**
 * Toolbar contents
 * ======================
 */

.k-toolbar {
  button,
  .btn {
    margin: 10px 0 10px 10px;

    @include breakpoint(0,range,$charlie) {
      width: 33px;
      height: 33px;
      padding: 6px 8px;
    }

    &:last-child {
      margin-right: 10px;
    }
  }

  @if $toolbar-btn-alt == true {
    .btn-success {
      border-color: $toolbar-btn-success-border;
      background: $toolbar-btn-success-background;
      color: $toolbar-btn-success-color;

      &:hover,
      &:focus {
        border-color: $toolbar-btn-success-hover-border;
        background: $toolbar-btn-success-hover-background;
        color: $toolbar-btn-success-hover-color;
      }
    }
  }
}

.k-btn-options {
  float: right;
}