/**
 * Default with JavaScript disabled
 * ================================
 */

.k-toolbar {
  background: $toolbar-background;
  @include border(bottom, $toolbar-border);

  // Faking flexbox for older browsers
  @include breakpoint($desktop) {
    width: 100%;
    display: table;
  }
}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-toolbar {
    flex: 0 0 auto;
  }
}



/**
 * Toolbar contents
 * ======================
 */

#toolbar-options {
  float: right;

  .btn {
    margin-right: 0;
    margin-left: $toolbar-spacing;
  }
}



.k-toolbar {
  button,
  .btn {
    margin: 10px 0 10px 10px;

    @include breakpoint(0,range,$charlie) {
      width: 33px;
      height: 33px;
      padding: 6px 8px;
    }

    &:last-child {
      margin-right: 10px;
    }
  }

  @if $scopebar-btn-alt == true {
    .btn-success {
      border-color: $scopebar-btn-success-border;
      background: $scopebar-btn-success-background;
      color: $scopebar-btn-success-color;

      &:hover,
      &:focus {
        border-color: $scopebar-btn-success-hover-border;
        background: $scopebar-btn-success-hover-background;
        color: $scopebar-btn-success-hover-color;
      }
    }
  }
}

.k-toolbar__text {
  display: none;

  @include breakpoint($charlie) {
    display: inline;
  }
}

.k-btn-options {
  float: right;
}