.k-upload {
  background: $color-primary;
  padding: $spacing-small;
  border-bottom: 1px solid #e1e1e1;
  display: table;
  width: 100%;

  @include flexbox {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    width: auto;
  }
}

.drop-message {
  font-size: 1.65em;
  line-height: 1.25em;
  margin: 0;
  color: #595959;
  display: table-cell;
  width: 100%;

  @include flexbox {
    width: auto;
    display: block;
    flex: 1 0 auto;
  }
}

.select-message {
  padding-left: 10px;
  display: table-cell;
  width: 1px;
  white-space: nowrap;

  @include flexbox {
    display: block;
    width: auto;
    flex: 0 0 auto;
  }
}
