/*
Error: Undefined variable: "$spacingt".
        on line 15 of molecules/bootstrap/_groups.scss
        from line 62 of core/_core.scss
        from line 41 of admin-wordpress.scss

10:  * Load first so global variables can use them
11:  *\/
12: 
13: @import "themes/wordpress/variables";
14: 
15: 
16: /**
17:  * Global tools
18:  * ------------
19:  * Containing variables and mixins
20:  *\/

Backtrace:
molecules/bootstrap/_groups.scss:15
core/_core.scss:62
admin-wordpress.scss:41
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/script/tree/node.rb:50:in `perform'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/script/tree/list_literal.rb:63:in `block in _perform'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/script/tree/list_literal.rb:63:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/script/tree/list_literal.rb:63:in `_perform'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/script/tree/node.rb:50:in `perform'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:364:in `watch_or_update'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/base.rb:52:in `parse'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/base.rb:19:in `parse!'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$spacingt\".\A         on line 15 of molecules/bootstrap/_groups.scss\A         from line 62 of core/_core.scss\A         from line 41 of admin-wordpress.scss\A \A 10:  * Load first so global variables can use them\A 11:  */\A 12: \A 13: @import \"themes/wordpress/variables\";\A 14: \A 15: \A 16: /**\A 17:  * Global tools\A 18:  * ------------\A 19:  * Containing variables and mixins\A 20:  */"; }
