/*
Error: File to import not found or unreadable: ../molecules/bootstrap-overrides.
       Load paths:
         /Users/robin/Sites/joomlatools-projects/com_files/resources/assets/scss
         /Users/robin/Sites/joomlatools-projects/koowa/code/media/koowa/com_koowa/scss
        on line 78 of core/_core.scss
        from line 21 of admin-default.scss

73:   @import "../atoms/fieldset";
74:   @import "../atoms/img";
75:   @import "../atoms/p";
76: 
77:   /* Molecules *\/
78:   @import "../molecules/bootstrap-overrides";
79:   @import "../molecules/breadcrumb";
80:   @import "../molecules/buttons";
81:   @import "../molecules/checkbox-toggle";
82:   @import "../molecules/component";
83:   @import "../molecules/content";

Backtrace:
core/_core.scss:78
admin-default.scss:21
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/import_node.rb:45:in `import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:107:in `rescue in invalid_import_parent?'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:101:in `invalid_import_parent?'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:175:in `try_send'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:12:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:38:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:49:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:57:in `visit_root'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:24:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:364:in `watch_or_update'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/base.rb:52:in `parse'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/base.rb:19:in `parse!'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../molecules/bootstrap-overrides.\A        Load paths:\A          /Users/robin/Sites/joomlatools-projects/com_files/resources/assets/scss\A          /Users/robin/Sites/joomlatools-projects/koowa/code/media/koowa/com_koowa/scss\A         on line 78 of core/_core.scss\A         from line 21 of admin-default.scss\A \A 73:   @import \"../atoms/fieldset\";\A 74:   @import \"../atoms/img\";\A 75:   @import \"../atoms/p\";\A 76: \A 77:   /* Molecules */\A 78:   @import \"../molecules/bootstrap-overrides\";\A 79:   @import \"../molecules/breadcrumb\";\A 80:   @import \"../molecules/buttons\";\A 81:   @import \"../molecules/checkbox-toggle\";\A 82:   @import \"../molecules/component\";\A 83:   @import \"../molecules/content\";"; }
