/*
Error: Invalid CSS after "  &": expected ";", was ":focus,"
        on line 103 of layouts/components/_scopebar.scss
        from line 28 of layouts/_overview.scss
        from line 53 of _core.scss
        from line 8 of admin-joomla.scss

98:   height: $scopebar-size;
99:   min-width: $scopebar-size;
100:   text-align: center;
101:   display: table-cell
102: 
103:   &:focus,
104:   &:hover {
105:     background: $color-secondary-darkest;
106:   }
107: }
108: 

Backtrace:
layouts/components/_scopebar.scss:103
layouts/_overview.scss:28
_core.scss:53
admin-joomla.scss:8
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1162:in `expected'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1098:in `expected'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:758:in `block in try_declaration'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1138:in `call'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:1138:in `rethrow'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:763:in `try_declaration'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:658:in `block_child'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:639:in `block'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:632:in `ruleset'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:657:in `block_child'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/scss/parser.rb:42:in `parse'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/engine.rb:403:in `_to_tree'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/engine.rb:309:in `to_tree'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:364:in `watch_or_update'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/base.rb:52:in `parse'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/lib/sass/exec/base.rb:19:in `parse!'
/Users/robin/.rvm/gems/ruby-2.1.1/gems/sass-3.4.15/bin/scss:13:in `<top (required)>'
/usr/bin/scss:23:in `load'
/usr/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  &\": expected \";\", was \":focus,\"\A         on line 103 of layouts/components/_scopebar.scss\A         from line 28 of layouts/_overview.scss\A         from line 53 of _core.scss\A         from line 8 of admin-joomla.scss\A \A 98:   height: $scopebar-size;\A 99:   min-width: $scopebar-size;\A 100:   text-align: center;\A 101:   display: table-cell\A 102: \A 103:   &:focus,\A 104:   &:hover {\A 105:     background: $color-secondary-darkest;\A 106:   }\A 107: }\A 108: "; }
