/**
 * Removing spacing between WP sidemenu and component
 */

#wpcontent {
  padding-left: 0;
}



/**
 * Flexboxing the wrapper and children
 */

#wpwrap {
  #wpcontent {
    padding-left: 0;
  }

  #wpbody-content {
    padding: 0;
  }
}

// Hide the options on top-right
#screen-meta {
  display: none;
}

#wpfooter {
  display: none;
}

// Re-setting the margin that got erased by namepsaced normalize
.koowa .wp-switch-editor {
  margin: 5px 0 0 5px;
}

.k-table-pagination {
  border-bottom: 1px solid $sidebar-border;
}