/**
 * Removing spacing between WP sidemenu and component
 */

#wpcontent {
  padding-left: 0;
}



/**
 * Flexboxing the wrapper and children
 */

#wpwrap {
  #wpcontent {
    padding-left: 0;
  }

  #wpbody-content {
    padding: 0;
  }
}

// Hide the options on top-right
#screen-meta {
  display: none;
}

#wpfooter {
  display: none;
}
