/**
 * Overview layout
 * ===============
 * The default overview layout
 * 1. Left sidebar
 * 2. Toggle button
 * 3. Breadrumbs
 * 4. Upload area
 * 5. Scopebar
 * 6. Table / grid / content
 * 7. Right sidebar
 * _____________________________
 * |  1  |2|_3___________|  7  |
 * |     |_4_____________|     |
 * |     |_5_____________|     |
 * |     | 6             |     |
 * |     |               |     |
 * |     |               |     |
 * |_____|_______________|_____|
 */


/**
 * Default styles with JavaScript disabled
 * =======================================
 */

.k-overview {
  @include border(all, $overview-border);
  background: $overview-background;
}



/**
 * When flexbox is in use
 * ======================
 */

@include flexbox {
  .k-overview {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;
  }
}