.form-group {
  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown-holder {
  position: relative;
  float: left;
}

.btn-sm {
  padding: 3px 8px;
}


@include flexbox {
  .k-flex {
    &.k-form {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      height: 100%;
    }

    .k-form__content {
      flex: 1 1 auto;
      overflow: auto;
    }
  }
}

.k-nowrap {
  white-space: nowrap;
}



















// Vars
$transition-time-easing: 350ms cubic-bezier(.2,.57,.44,.83);
$transition: all $transition-time-easing;
$query: 8000px;


.off-canvas-overlay {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2c3e50;
  z-index: -1;
  display: block;
  opacity: 0;
  transition: opacity $transition-time-easing;
}

.k-sidebar {
  width: $sidebar-width;
  height: 100%;
  background: $sidebar-background;
  color: $sidebar-color;
  position: absolute;
  top: 0;
  overflow: auto;
  z-index: 3;
  -webkit-overflow-scrolling: touch;
  left: -$sidebar-width;

  @include breakpoint($desktop) {
    position: relative; // Resetting position to relative
    display: table-cell; // Faking flexbox for older browsers
    flex: 0 0 $sidebar-width;
  }
}

.show-left-menu {
  transform: translate($sidebar-width, 0);
}

.show-right-menu {
  transform: translate(-$sidebar-width, 0);
}


.k-content-wrapper {
  transition: $transition;
}



.show-left-menu,
.show-right-menu {
  .off-canvas-overlay {
    opacity: .75;

  }
}

.opened {
  .off-canvas-overlay {
    z-index: 1;
    right: -10px; // Make sure the overlay is behind the nav so we won't get weird jumps
    left: -10px; // Make sure the overlay is behind the nav so we won't get weird jumps
  }
}



/**
 * Javascript specific
 =====================
 */

.js-enabled .off-canvas-menu {
  display: none; // Hide when JS is enabled

  @media (min-width:$query) {
    display: block; // Show again when screen is wide enough
  }
}

.off-canvas-menu.opened {
  display: block; // Show when menu is opened
}