.form-group {
  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown-holder {
  position: relative;
  float: left;
}

.btn-sm {
  padding: 3px 8px;
}


@include flexbox {
  &.k-form {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
  }

  .k-form__content {
    flex: 1 1 auto;
    overflow: auto;
  }
}


.select2--no-gfx {
  .select2 {
    width: auto !important;
  }

  .select2-selection {
    background: transparent;
    border: none;
  }
}

@at-root .select2-dropdown {
  min-width: 200px;
}
