/* ==========================================================================
   Form layout
   ========================================================================== */

/**
 * The default form layout
 *
 * 1. Title bar
 * 2. Main content
 * 3. Extra (non-critical) content boxes
 *
 * _____________________________
 * |_____________1_____________|
 * |                   _______ |
 * |         2         |  3  | |
 * |                   |_____| |
 * |                   _______ |
 * |                   |  3  | |
 * |                   |_____| |
 * |___________________________|
 */

.k-form {

  /**
   * Component background
   *
   * Default component has background for when sliding over sidebars
   */

  .k-component {
    background: $form-background;
  }


  /**
   * Toolbar
   *
   * 1. Set a max-width for the toolbar so it's just as big as the container below
   */

  .koowa-toolbar {
    max-width: $maxwidth; /* 1 */
    margin: 0 auto;
    padding: 0 ($spacing / 2);
  }

}


/* When flexbox is in use */

@include flexbox {
  .k-form {
    display: flex;
    flex: 1 1 auto;
  }
}
