/* ==========================================================================
   Overview layout
   ========================================================================== */

/**
 * The default overview layout
 *
 * 1. Left sidebar
 * 2. Toggle button
 * 3. Toolbar
 * 4. Breadcrumbs
 * 5. Upload area
 * 6. Scopebar
 * 7. Table / grid / content
 * 8. Right sidebar
 *
 * _____________________________
 * |  1  |_2_|_3_________|  8  |
 * |     |_4_____________|     |
 * |     |_5_____________|     |
 * |     |_6_____________|     |
 * |     | 7             |     |
 * |     |               |     |
 * |     |               |     |
 * |     |               |     |
 * |     |               |     |
 * |_____|_______________|_____|
 *
 */


.k-overview {
  @include border(all, $overview-border);
  background: $overview-background;
}


/* When flexbox is in use */

@include flexbox {
  .k-overview {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;
  }
}
