// Joomla specific
/* Editing for iframe */
body.admin,
body.component {
  box-sizing: border-box;
  padding-top: 0;

  /**
   * Basic setup
   * -----------
   * Always remove the toolbar and empty div
   * We are showing this ourselves
   */

  nav.navbar {
    position: static;
  }

  header.header {
    border-top: none;
  }

  header.header + div {
    display: none;
  }

  .btn-subhead,
  .subhead-collapse {
    display: none !important;
  }


  /**
   * Adding spacing to overview
   */

  .k-overview {
    margin-top: $spacing;
  }



  /**
   * Component only
   * ==============
   */

  &.component {
    padding: 0;

    .k-overview {
      margin-top: 0;
      border: none;
    }
  }



  /**
   * Flexbox setup
   * -------------
   * Set Joomla containers to flex and adjust margins and paddings
   * As soon as something in this chain of classnames changes we fall back to non-flexbox view
   */

  display: flex;
  flex-direction: column;
  overflow: auto;


  /**
   * Do not flex following items
   */

  nav.navbar,
  header.header,
  .subhead-collapse,
  #status,
  #system-message-container,
  #system-debug {
    flex: 0 0 auto;
  }


  /**
   * The main container
   */

  .container-main {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
    margin: 0 -20px;
    padding: 0;

    // Remove negative margin when screen is wide enough
    @include breakpoint(768px) {
      margin: 0;
    }


    /**
     * Flex all children of main container
     */

    #content,
    #content .row-fluid,
    #content .row-fluid .span12 {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      overflow: auto;
    }


    /**
     * Remove clearfix psuedo elements
     * Otherwise they'll be treated as 1 pixel flex items
     */

    &:before,
    &:after,
    #content:before,
    #content:after,
    #content .row-fluid:before,
    #content .row-fluid:after {
      display: none;
    }


    /**
     * No longer a fixed position for the statusbar
     * since that doesn't play nice with flexbox
     */

    & + #status {
      position: relative;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      box-shadow: none;
    }


    /**
     * Remove the border on successful flexbox
     */

    #content .row-fluid .span12 {
      .k-overview {
        border: none;
        margin-top: 0;
      }
    }
  }


  /**
   * Remove spacing and border-radius to align alerts to the side
   */

  #system-message-container {
    padding: 0;

    .alert {
      margin: 0;
      border-radius: 0;
      border-bottom: 1px solid $toolbar-border;
    }
  }


  /**
   * Reduce bottom padding on debug container
   */

  #system-debug {
    padding-bottom: 10px;
  }


  /**
   * Remove margin from bootstrap grid item
   */

  .span10 {
    margin: 0;
  }


  /**
   * Joomla removes default focus style, we bring it back
   */

  a:focus {
    outline: auto 5px -webkit-focus-ring-color;
  }
}