/**
 * Borders
 * =======
 */

$borders: true;



/**
 * Accent color
 * ============
 */

$color-accent: #0088CC;



/**
 * Primary color
 * =============
 */

$color-primary: #EBEDF1;
$color-primary-type: #333;
$color-primary-accent: $color-accent;



/**
 * Secondary color
 * ===============
 */

$color-secondary: #EEEEEE;
$color-secondary-type: #333;



/**
 * Toolbar
 * =======
 */

$toolbar-btn-alt: false;
$toolbar-background: darken($color-primary, 4%);



/**
 * Overview
 * ========
 */

$overview-border: false;



/**
 * Table
 * =====
 */

//$table-header-background: #F3F3F3;



//$borders: false !default;
//$color-primary: #c0392b !default;
//$color-secondary: #2c3e50 !default;
//$color-tertiary: #7f8c8d !default;